In [2]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io

In [ ]:
start = datetime.datetime(2020,2,1)
end = datetime.datetime(2020,10,11)

In [ ]:
Symbols = ["GME","AMC"]

In [ ]:
# create empty dataframe
stock_final = pd.DataFrame()
# iterate over each symbol
for i in Symbols:  
    
    # print the symbol which is being downloaded
    print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.ticker(i).history(period="1mo", interval= "60m")
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name']=i
            stock_final = stock_final.append(stock,sort=False)
    except Exception:
        None

0 : GME,1 : AMC,

In [ ]:
stock_final.head()

Empty DataFrame
Columns: []
Index: []

In [4]:
aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [ ]:
# stock_df = pd.DataFrame()
# for i in Symbols:
#   stock_list = []
#   ticker = yf.Ticker(i)
#   stock_list.append(stock.history(period="1mo", interval="60m"))
#   ticker['Name']=i
#   stock_df = stock_df.append(ticker,sort=False)

In [5]:
aapl_historical = aapl.history(period="1mo", interval="60m")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-01-12 10:30:00-05:00,129.029999,129.330002,128.600006,128.713898,0,0.0,0
2021-01-12 11:30:00-05:00,128.710007,128.720200,126.860001,127.600098,16505508,0.0,0
2021-01-12 12:30:00-05:00,127.605003,128.380005,127.480003,128.283401,8734042,0.0,0
2021-01-12 13:30:00-05:00,128.282303,128.639999,128.080002,128.494003,7718179,0.0,0
2021-01-12 14:30:00-05:00,128.490997,128.789993,128.080002,128.539993,8867992,0.0,0
...,...,...,...,...,...,...,...
2021-02-11 14:30:00-05:00,134.049301,134.919998,133.979996,134.759995,6518165,0.0,0
2021-02-11 15:30:00-05:00,134.759995,135.279999,134.610001,135.119995,5778493,0.0,0
2021-02-12 09:30:00-05:00,134.350006,134.729996,133.692093,133.999893,14950658,0.0,0
2021-02-12 10:30:00-05:00,134.000000,134.849899,133.779999,134.509995,6870066,0.0,0
2021-02-12 11:14:45-05:00,134.500793,134.500793,134.500793,134.500793,0,0.0,0

In [6]:
tickers_list = ["aapl", "goog", "amzn", "BAC", "BA"] # example list
tickers_data= {} # empty dictionary

In [7]:
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    # temp = pd.DataFrame.from_dict(ticker_object.history(period="1mo", interval="60m"), orient="index")
    temp = ticker_object.history(period="1mo", interval="60m")
    # temp.reset_index(inplace=True)
    # temp.columns = ["Open",	"High,"	"Low",	"Close	Volume",	"Dividends",	"Stock Splits"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'aapl':                                  Open        High         Low       Close  \
 Datetime
 2021-01-12 10:30:00-05:00  129.029999  129.330002  128.600006  128.713898
 2021-01-12 11:30:00-05:00  128.710007  128.720200  126.860001  127.600098
 2021-01-12 12:30:00-05:00  127.605003  128.380005  127.480003  128.283401
 2021-01-12 13:30:00-05:00  128.282303  128.639999  128.080002  128.494003
 2021-01-12 14:30:00-05:00  128.490997  128.789993  128.080002  128.539993
 ...                               ...         ...         ...         ...
 2021-02-11 14:30:00-05:00  134.049301  134.919998  133.979996  134.759995
 2021-02-11 15:30:00-05:00  134.759995  135.279999  134.610001  135.119995
 2021-02-12 09:30:00-05:00  134.350006  134.729996  133.692093  133.999893
 2021-02-12 10:30:00-05:00  134.000000  134.849899  133.779999  134.509995
 2021-02-12 11:14:45-05:00  134.500793  134.500793  134.500793  134.500793

                              Volume  Dividends  Stock Splits
 Datetime
 2021-01-12 10:30:00-05:00         0        0.0             0
 2021-01-12 11:30:00-05:00  16505508        0.0             0
 2021-01-12 12:30:00-05:00   8734042        0.0             0
 2021-01-12 13:30:00-05:00   7718179        0.0             0
 2021-01-12 14:30:00-05:00   8867992        0.0             0
 ...                             ...        ...           ...
 2021-02-11 14:30:00-05:00   6518165        0.0             0
 2021-02-11 15:30:00-05:00   5778493        0.0             0
 2021-02-12 09:30:00-05:00  14950658        0.0             0
 2021-02-12 10:30:00-05:00   6870066        0.0             0
 2021-02-12 11:14:45-05:00         0        0.0             0

 [156 rows x 7 columns],
 'goog':                                   Open         High          Low        Close  \
 Datetime
 2021-01-12 10:30:00-05:00  1753.650024  1760.627441  1747.232422  1747.232422
 2021-01-12 11:30:00-05:00  1747.180054  1750.180054  1725.310059  1729.099976
 2021-01-12 12:30:00-05:00  1728.689941  1747.094360  1726.000000  1746.170044
 2021-01-12 13:30:00-05:00  1746.459961  1751.000000  1742.729980  1744.060059
 2021-01-12 14:30:00-05:00  1744.319946  1748.410034  1739.010010  1743.171509
 ...                                ...          ...          ...          ...
 2021-02-11 14:30:00-05:00  2085.635010  2095.000000  2082.959961  2093.330078
 2021-02-11 15:30:00-05:00  2093.330078  2098.715088  2089.649902  2095.580078
 2021-02-12 09:30:00-05:00  2090.250000  2104.080078  2083.169922  2095.610107
 2021-02-12 10:30:00-05:00  2096.149902  2099.450439  2091.310059  2094.229980
 2021-02-12 11:14:56-05:00  2094.000000  2094.000000  2094.000000  2094.000000

                            Volume  Dividends  Stock Splits
 Datetime
 2021-01-12 10:30:00-05:00       0          0             0
 2021-01-12 11:30:00-05:00  187858          0             0
 2021-01-12 12:30:00-05:00  136370          0             0
 2021-01-12 13:30:00-05:00  117384          0             0
 2021-01-12 14:30:00-05:00  138179          0             0
 ...                           ...        ...           ...
 2021-02-11 14:30:00-05:00   88751          0             0
 2021-02-11 15:30:00-05:00  189873          0             0
 2021-02-12 09:30:00-05:00  179168          0             0
 2021-02-12 10:30:00-05:00  126079          0             0
 2021-02-12 11:14:56-05:00       0          0             0

 [156 rows x 7 columns],
 'amzn':                                   Open         High          Low        Close  \
 Datetime
 2021-01-12 10:30:00-05:00  3112.620117  3113.500000  3099.899902  3106.479980
 2021-01-12 11:30:00-05:00  3105.854980  3110.000000  3086.000000  3101.290039
 2021-01-12 12:30:00-05:00  3101.260010  3127.530273  3094.524902  3127.530273
 2021-01-12 13:30:00-05:00  3126.122803  3137.629883  3121.489990  3124.010010
 2021-01-12 14:30:00-05:00  3123.959961  3135.290039  3118.030029  3122.070068
 ...                                ...          ...          ...          ...
 2021-02-11 14:30:00-05:00  3250.534912  3258.979980  3249.340088  3255.750000
 2021-02-11 15:30:00-05:00  3255.479980  3262.949951  3251.379883  3261.649902
 2021-02-12 09:30:00-05:00  3250.000000  3252.239990  3233.310059  3244.629883
 2021-02-12 10:30:00-05:00  3244.489990  3258.786133  3238.000000  3255.479980
 2021-02-12 11:14:39-05:00  3255.010010  3255.010010  3255.010010  3255.010010

                            Volume  Dividends  Stock Splits
 Datetime
 2021-01-12 10:30:00-05:00       0          0             0
 2021-01-12 11:30:00-05:00  489155          0             0
 2021-01-12 12:30:00-05:00  380056          0             0
 2021-01-12 13:30:00-05:00  328363          0             0
 2021-01-12 14:30:00-05:00  277545          0             0
 ...                           ...        ...           ...
 2021-02-11 14:30:00-05:00  273484          0             0
 2021-02-11 15:30:00-05:00  282964          0             0
 2021-02-12 09:30:00-05:00  540760          0             0
 2021-02-12 10:30:00-05:00  251578          0             0
 2021-02-12 11:14:39-05:00       0          0             0

 [156 rows x 7 columns],
 'BAC':                                 Open       High        Low      Close  \
 Datetime
 2021-01-12 10:30:00-05:00  33.779999  33.939999  33.750000  33.834999
 2021-01-12 11:30:00-05:00  33.833401  33.884998  33.709999  33.884998
 2021-01-12 12:30:00-05:00  33.884998  33.970001  33.570000  33.580002
 2021-01-12 13:30:00-05:00  33.584999  33.639999  33.509998  33.619999
 2021-01-12 14:30:00-05:00  33.615002  33.785000  33.610001  33.665001
 ...                              ...        ...        ...        ...
 2021-02-11 14:30:00-05:00  32.779999  32.924999  32.730000  32.860001
 2021-02-11 15:30:00-05:00  32.860001  32.970001  32.840000  32.880001
 2021-02-12 09:30:00-05:00  33.000000  33.450001  32.910000  33.369999
 2021-02-12 10:30:00-05:00  33.375000  33.419998  33.240002  33.270000
 2021-02-12 11:14:56-05:00  33.264999  33.264999  33.264999  33.264999

                              Volume  Dividends  Stock Splits
 Datetime
 2021-01-12 10:30:00-05:00         0          0             0
 2021-01-12 11:30:00-05:00   7512626          0             0
 2021-01-12 12:30:00-05:00   7579574          0             0
 2021-01-12 13:30:00-05:00   6279552          0             0
 2021-01-12 14:30:00-05:00   5182012          0             0
 ...                             ...        ...           ...
 2021-02-11 14:30:00-05:00   2941918          0             0
 2021-02-11 15:30:00-05:00   3982143          0             0
 2021-02-12 09:30:00-05:00  11631770          0             0
 2021-02-12 10:30:00-05:00   4151225          0             0
 2021-02-12 11:14:56-05:00         0          0             0

 [156 rows x 7 columns],
 'BA':                                  Open        High         Low       Close  \
 Datetime
 2021-01-12 10:30:00-05:00  208.126297  209.059998  206.029999  206.600998
 2021-01-12 11:30:00-05:00  206.600006  206.889999  205.080093  205.889999
 2021-01-12 12:30:00-05:00  205.934998  206.350006  205.110001  205.332993
 2021-01-12 13:30:00-05:00  205.250000  206.199997  204.809998  206.089996
 2021-01-12 14:30:00-05:00  206.119995  207.969894  205.899994  207.710007
 ...                               ...         ...         ...         ...
 2021-02-11 14:30:00-05:00  210.460007  210.800003  209.740005  210.589996
 2021-02-11 15:30:00-05:00  210.630005  210.940002  210.220001  210.529999
 2021-02-12 09:30:00-05:00  210.360001  212.839996  209.669998  212.184998
 2021-02-12 10:30:00-05:00  212.179993  213.160004  211.910004  212.363693
 2021-02-12 11:14:47-05:00  212.419998  212.419998  212.419998  212.419998

                             Volume  Dividends  Stock Splits
 Datetime
 2021-01-12 10:30:00-05:00        0          0             0
 2021-01-12 11:30:00-05:00   966140          0             0
 2021-01-12 12:30:00-05:00   923011          0             0
 2021-01-12 13:30:00-05:00  1734286          0             0
 2021-01-12 14:30:00-05:00  1217357          0             0
 ...                            ...        ...           ...
 2021-02-11 14:30:00-05:00   621292          0             0
 2021-02-11 15:30:00-05:00   816144          0             0
 2021-02-12 09:30:00-05:00  1781618          0             0
 2021-02-12 10:30:00-05:00   626751          0             0
 2021-02-12 11:14:47-05:00        0          0             0

 [156 rows x 7 columns]}

In [8]:
tickers_data["BAC"].columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [9]:
tickers_data.keys()

dict_keys(['aapl', 'goog', 'amzn', 'BAC', 'BA'])

In [10]:
for key in tickers_data.keys():
  print(key)

aapl
goog
amzn
BAC
BA

In [11]:
df = pd.DataFrame(yf.download(tickers_list, period="3mo", interval="60m", group_by='tickers', index=False))

[*********************100%***********************]  5 of 5 completed

In [12]:
df["BA"]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-12 10:30:00-05:00,179.899994,181.289993,179.750000,180.940002,180.940002,0.0
2020-11-12 11:30:00-05:00,180.940002,184.589996,180.910004,182.399994,182.399994,3265553.0
2020-11-12 12:30:00-05:00,182.387604,182.899994,179.440002,179.979904,179.979904,2226247.0
2020-11-12 13:30:00-05:00,179.860001,180.440002,177.404999,178.065506,178.065506,2172853.0
2020-11-12 14:30:00-05:00,178.069901,178.499893,176.580002,177.000000,177.000000,2680130.0
...,...,...,...,...,...,...
2021-02-11 15:30:00-05:00,210.630005,210.940002,210.220001,210.529999,210.529999,816144.0
2021-02-12 09:30:00-05:00,210.360001,212.839996,209.669998,212.184998,212.184998,1781618.0
2021-02-12 10:30:00-05:00,212.179993,213.160004,211.910004,212.419998,212.419998,640756.0
2021-02-12 11:14:57-05:00,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-12 11:15:06-05:00,212.419998,212.419998,212.419998,212.419998,212.419998,0.0

In [13]:
df["timestamp"] = df.index

In [14]:
df

                                  AMZN                                         \
                                  Open         High          Low        Close
Datetime
2020-11-12 10:30:00-05:00  3151.000000  3160.283936  3122.889893  3131.618408
2020-11-12 11:30:00-05:00  3130.469971  3132.215088  3106.041992  3111.350098
2020-11-12 12:30:00-05:00  3111.275879  3119.270020  3090.000000  3090.239990
2020-11-12 13:30:00-05:00  3090.219971  3115.760010  3086.050049  3105.620117
2020-11-12 14:30:00-05:00  3105.489990  3119.879883  3096.614014  3114.485107
...                                ...          ...          ...          ...
2021-02-11 15:30:00-05:00  3255.479980  3262.949951  3251.379883  3261.649902
2021-02-12 09:30:00-05:00  3250.000000  3252.239990  3233.310059  3244.629883
2021-02-12 10:30:00-05:00  3244.489990  3258.786133  3238.000000  3255.479980
2021-02-12 11:14:57-05:00  3254.570068  3254.570068  3254.570068  3254.570068
2021-02-12 11:15:06-05:00          NaN          NaN          NaN          NaN

                                                         GOOG               \
                             Adj Close    Volume         Open         High
Datetime
2020-11-12 10:30:00-05:00  3131.618408       0.0  1755.369995  1763.000000
2020-11-12 11:30:00-05:00  3111.350098  458866.0  1758.914185  1759.785034
2020-11-12 12:30:00-05:00  3090.239990  469181.0  1753.589966  1757.123535
2020-11-12 13:30:00-05:00  3105.620117  615459.0  1751.390015  1762.359985
2020-11-12 14:30:00-05:00  3114.485107  573709.0  1753.800049  1756.760010
...                                ...       ...          ...          ...
2021-02-11 15:30:00-05:00  3261.649902  282964.0  2093.330078  2098.715088
2021-02-12 09:30:00-05:00  3244.629883  540760.0  2090.250000  2104.080078
2021-02-12 10:30:00-05:00  3255.479980  251578.0  2096.149902  2099.450439
2021-02-12 11:14:57-05:00  3254.570068       0.0  2094.000000  2094.000000
2021-02-12 11:15:06-05:00          NaN       NaN          NaN          NaN

                                                     ...        AAPL  \
                                   Low        Close  ...       Close
Datetime                                             ...
2020-11-12 10:30:00-05:00  1754.219971  1758.040039  ...  119.860001
2020-11-12 11:30:00-05:00  1750.439941  1753.800049  ...  119.655403
2020-11-12 12:30:00-05:00  1750.030029  1752.449951  ...  118.945000
2020-11-12 13:30:00-05:00  1750.420044  1755.020020  ...  118.883003
2020-11-12 14:30:00-05:00  1746.000000  1750.380005  ...  119.029999
...                                ...          ...  ...         ...
2021-02-11 15:30:00-05:00  2089.649902  2095.580078  ...  135.119995
2021-02-12 09:30:00-05:00  2083.169922  2095.610107  ...  133.999893
2021-02-12 10:30:00-05:00  2091.310059  2094.229980  ...  134.500000
2021-02-12 11:14:57-05:00  2094.000000  2094.000000  ...         NaN
2021-02-12 11:15:06-05:00          NaN          NaN  ...  134.490005

                                                           BA              \
                            Adj Close      Volume        Open        High
Datetime
2020-11-12 10:30:00-05:00  119.860001         0.0  179.899994  181.289993
2020-11-12 11:30:00-05:00  119.655403  15133713.0  180.940002  184.589996
2020-11-12 12:30:00-05:00  118.945000  11533843.0  182.387604  182.899994
2020-11-12 13:30:00-05:00  118.883003  10471261.0  179.860001  180.440002
2020-11-12 14:30:00-05:00  119.029999  11352053.0  178.069901  178.499893
...                               ...         ...         ...         ...
2021-02-11 15:30:00-05:00  135.119995   5778493.0  210.630005  210.940002
2021-02-12 09:30:00-05:00  133.999893  14950658.0  210.360001  212.839996
2021-02-12 10:30:00-05:00  134.500000   6970443.0  212.179993  213.160004
2021-02-12 11:14:57-05:00         NaN         NaN         NaN         NaN
2021-02-12 11:15:06-05:00  134.490005         0.0  212.419998  212.419998

                                                                          \
                                  Low       Close   Adj Close     Volume
Datetime
2020-11-12 10:30:00-05:00  179.750000  180.940002  180.940002        0.0
2020-11-12 11:30:00-05:00  180.910004  182.399994  182.399994  3265553.0
2020-11-12 12:30:00-05:00  179.440002  179.979904  179.979904  2226247.0
2020-11-12 13:30:00-05:00  177.404999  178.065506  178.065506  2172853.0
2020-11-12 14:30:00-05:00  176.580002  177.000000  177.000000  2680130.0
...                               ...         ...         ...        ...
2021-02-11 15:30:00-05:00  210.220001  210.529999  210.529999   816144.0
2021-02-12 09:30:00-05:00  209.669998  212.184998  212.184998  1781618.0
2021-02-12 10:30:00-05:00  211.910004  212.419998  212.419998   640756.0
2021-02-12 11:14:57-05:00         NaN         NaN         NaN        NaN
2021-02-12 11:15:06-05:00  212.419998  212.419998  212.419998        0.0

                                          timestamp

Datetime
2020-11-12 10:30:00-05:00 2020-11-12 10:30:00-05:00
2020-11-12 11:30:00-05:00 2020-11-12 11:30:00-05:00
2020-11-12 12:30:00-05:00 2020-11-12 12:30:00-05:00
2020-11-12 13:30:00-05:00 2020-11-12 13:30:00-05:00
2020-11-12 14:30:00-05:00 2020-11-12 14:30:00-05:00
...                                             ...
2021-02-11 15:30:00-05:00 2021-02-11 15:30:00-05:00
2021-02-12 09:30:00-05:00 2021-02-12 09:30:00-05:00
2021-02-12 10:30:00-05:00 2021-02-12 10:30:00-05:00
2021-02-12 11:14:57-05:00 2021-02-12 11:14:57-05:00
2021-02-12 11:15:06-05:00 2021-02-12 11:15:06-05:00

[431 rows x 31 columns]

In [15]:
for i in df:
  df[i]["timestamp"] = df.index

In [16]:
df.stack()

                                            AMZN         GOOG        BAC  \
Datetime
2020-11-12 10:30:00-05:00 Open       3151.000000  1755.369995  26.597700
                          High       3160.283936  1763.000000  26.700001
                          Low        3122.889893  1754.219971  26.520000
                          Close      3131.618408  1758.040039  26.579800
                          Adj Close  3131.618408  1758.040039  26.579800
...                                          ...          ...        ...
2021-02-12 11:15:06-05:00 Low                NaN          NaN  33.264999
                          Close              NaN          NaN  33.264999
                          Adj Close          NaN          NaN  33.264999
                          Volume             NaN          NaN   0.000000
                                             NaN          NaN        NaN

                                           AAPL          BA  \
Datetime
2020-11-12 10:30:00-05:00 Open       119.985001  179.899994
                          High       120.529999  181.289993
                          Low        119.650002  179.750000
                          Close      119.860001  180.940002
                          Adj Close  119.860001  180.940002
...                                         ...         ...
2021-02-12 11:15:06-05:00 Low        134.490005  212.419998
                          Close      134.490005  212.419998
                          Adj Close  134.490005  212.419998
                          Volume       0.000000    0.000000
                                            NaN         NaN

                                                    timestamp
Datetime
2020-11-12 10:30:00-05:00 Open                            NaT
                          High                            NaT
                          Low                             NaT
                          Close                           NaT
                          Adj Close                       NaT
...                                                       ...
2021-02-12 11:15:06-05:00 Low                             NaT
                          Close                           NaT
                          Adj Close                       NaT
                          Volume                          NaT
                                    2021-02-12 11:15:06-05:00

[3017 rows x 6 columns]

In [17]:
df.loc[df["timestamp"] == "2020-11-11 12:30:00-05:00", ["AAPL"]]

Empty DataFrame
Columns: [(AAPL, Open), (AAPL, High), (AAPL, Low), (AAPL, Close), (AAPL, Adj Close), (AAPL, Volume)]
Index: []

In [18]:
df["BA"]["Open"]

Datetime
2020-11-12 10:30:00-05:00    179.899994
2020-11-12 11:30:00-05:00    180.940002
2020-11-12 12:30:00-05:00    182.387604
2020-11-12 13:30:00-05:00    179.860001
2020-11-12 14:30:00-05:00    178.069901
                                ...
2021-02-11 15:30:00-05:00    210.630005
2021-02-12 09:30:00-05:00    210.360001
2021-02-12 10:30:00-05:00    212.179993
2021-02-12 11:14:57-05:00           NaN
2021-02-12 11:15:06-05:00    212.419998
Name: Open, Length: 431, dtype: float64

In [19]:
ba_df = df["BA"]

In [20]:
ba_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-12 10:30:00-05:00,179.899994,181.289993,179.750000,180.940002,180.940002,0.0
2020-11-12 11:30:00-05:00,180.940002,184.589996,180.910004,182.399994,182.399994,3265553.0
2020-11-12 12:30:00-05:00,182.387604,182.899994,179.440002,179.979904,179.979904,2226247.0
2020-11-12 13:30:00-05:00,179.860001,180.440002,177.404999,178.065506,178.065506,2172853.0
2020-11-12 14:30:00-05:00,178.069901,178.499893,176.580002,177.000000,177.000000,2680130.0
...,...,...,...,...,...,...
2021-02-11 15:30:00-05:00,210.630005,210.940002,210.220001,210.529999,210.529999,816144.0
2021-02-12 09:30:00-05:00,210.360001,212.839996,209.669998,212.184998,212.184998,1781618.0
2021-02-12 10:30:00-05:00,212.179993,213.160004,211.910004,212.419998,212.419998,640756.0
2021-02-12 11:14:57-05:00,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-12 11:15:06-05:00,212.419998,212.419998,212.419998,212.419998,212.419998,0.0

In [21]:
ba_df.loc[df["timestamp"] == "2020-11-11 12:30:00-05:00", ["Open", "Close","Volume"]]

Empty DataFrame
Columns: [Open, Close, Volume]
Index: []

In [22]:
ticker_names = df.columns.to_list()

In [23]:
ticker_names

[('AMZN', 'Open'),
 ('AMZN', 'High'),
 ('AMZN', 'Low'),
 ('AMZN', 'Close'),
 ('AMZN', 'Adj Close'),
 ('AMZN', 'Volume'),
 ('GOOG', 'Open'),
 ('GOOG', 'High'),
 ('GOOG', 'Low'),
 ('GOOG', 'Close'),
 ('GOOG', 'Adj Close'),
 ('GOOG', 'Volume'),
 ('BAC', 'Open'),
 ('BAC', 'High'),
 ('BAC', 'Low'),
 ('BAC', 'Close'),
 ('BAC', 'Adj Close'),
 ('BAC', 'Volume'),
 ('AAPL', 'Open'),
 ('AAPL', 'High'),
 ('AAPL', 'Low'),
 ('AAPL', 'Close'),
 ('AAPL', 'Adj Close'),
 ('AAPL', 'Volume'),
 ('BA', 'Open'),
 ('BA', 'High'),
 ('BA', 'Low'),
 ('BA', 'Close'),
 ('BA', 'Adj Close'),
 ('BA', 'Volume'),
 ('timestamp', '')]